.customer {
    h2 {
        padding: 2rem;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        li {
            background-color: #fff;
            padding: 2rem;
            width: 250px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        
            display: flex;
            flex-direction: column;
            align-items: center; 
            text-align: center;
            cursor: pointer;

            position: relative;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

            img {
                width: 80%;
                height: 200px;
                object-fit: cover;
                border-radius: 8px;
                margin-bottom: 1rem; 
            }
          
            p {
                margin: 0.5rem 0;
                font-size: 1rem;
                color: #333;
            }
          
            .product-price {
                font-weight: bold;
                font-size: 1.2rem;
                color: #007bff; 
            }

            .add-to-cart-btn {
                padding: 0.5rem 1rem;
                background: none;
                color: #007bff;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: color 0.3s ease, background-color 0.3s ease;

                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 2;
                &:hover {
                    color: #fff;
                    background-color: #007bff;
                }
            }

            button {
                padding: 0.5rem 1rem;
                background-color: #007bff;
                color: #fff;
                font-size: 1rem;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
          
                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}